body {
  padding-top: 15%;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 100px;
  }
}

p {
  text-align: center;
}

p,
div .col-sm div {
  margin-left: 8px;
  margin-right: 8px;
}

#card-1 {
  --animate-duration: 2000ms;
}
#card-2 {
  --animate-duration: 1600ms;
}
#card-3 {
  --animate-duration: 1200ms;
}
#card-4 {
  --animate-duration: 800ms;
}
